body {
        background-color: rgb(213, 255, 213);
        position: absolute;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-family: 'Noto Sans', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif, sans-serif;
}

input.textfield {
        border: none;
        border-radius: 5px;
        color: darkblue;
        background-color: lightskyblue;
        padding-left: 5px;
}

input.button {
        border: none;
        color: goldenrod;
        border-radius: 5px;
        background-color: lightyellow;
}

h1 {
        font-family: 'Noto Sans', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif, sans-serif;
}
