{% extends 'base.html' %}

{% block head %}
<title>Editando nota: {{ tarefa.id }}</title>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='files/edit.css') }}">
<div class="content">
        <h1>Editar nota</h1>
        <div class="form">
                <form action="/edit/{{tarefa.id}}" method="POST">
                        <input type="text" class="textfield" name="conteudo" id="conteudo" value="{{tarefa.conteudo}}">
                        <input type="submit" class="button" value="edit">
                </form>
        </div>
</div>
{% endblock %}